@model Restaurant.Models.MasterWorkingHours

@{
    ViewData["Title"] = "MasterWorkingHoursCreate";
}

<div class="pagetitle">
    <h1>Create Working Hours</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item"><a asp-action="MasterWorkingHoursIndex" asp-controller="MasterWorkingHours">Index</a></li>
            <li class="breadcrumb-item active">Working Hours Create</li>
        </ol>
    </nav>
</div>


<hr />


<section class="section">
    <div class="row justify-content-center">
        <div class="card col-md-12">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <form asp-action="MasterWorkingHoursCreate" class="needs-validation" novalidate>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="MasterWorkingHoursId" class="form-control" type="hidden" value="0" />
                    <div class="row mb-3">
                        <div class="col-6">
                            <div class="row mb-3">
                                <label asp-for="MasterWorkingHoursIdName" class="col-sm-4 col-form-label"></label>
                                <div class="col-sm-8">
                                    <input asp-for="MasterWorkingHoursIdName" class="form-control" required />
                                    <span asp-validation-for="MasterWorkingHoursIdName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row mb-3">
                                <label asp-for="MasterWorkingHoursIdTimeFormTo" class="col-sm-4 col-form-label"></label>
                                <div class="col-sm-8">
                                    <input asp-for="MasterWorkingHoursIdTimeFormTo" class="form-control" required />
                                    <span asp-validation-for="MasterWorkingHoursIdTimeFormTo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-end">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        <a asp-action="MasterWorkingHoursIndex" class="btn btn-secondary">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
