@model Restaurant.ViewModels.MasterItemMenuModels

@{
    ViewData["Title"] = "MasterItemMenuCreate";
}

<div class="pagetitle">
    <h1>Create Item Menu</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item"><a asp-action="MasterItemMenuIndex" asp-controller="MasterItemMenu">Index</a></li>
            <li class="breadcrumb-item active">Item Menu Create</li>
        </ol>
    </nav>
</div>


<hr />


<section class="section">
    <div class="row justify-content-center">
        <div class="card col-md-12">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <form asp-action="MasterItemMenuCreate" enctype="multipart/form-data" class="needs-validation" novalidate>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="MasterItemMenuId" class="form-control" type="hidden" value="0" />
                    <div class="row mb-3">
                        <div class="col-6">
                            <div class="row mb-3">
                                <label asp-for="MasterItemMenuTitle" class="col-sm-4 col-form-label"></label>
                                <div class="col-sm-8">
                                    <input asp-for="MasterItemMenuTitle" class="form-control" required />
                                    <span asp-validation-for="MasterItemMenuTitle" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row mb-3">
                                <label asp-for="MasterItemMenuBreef" class="col-sm-4 col-form-label"></label>
                                <div class="col-sm-8">
                                    <input asp-for="MasterItemMenuBreef" class="form-control" required />
                                    <span asp-validation-for="MasterItemMenuBreef" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row mb-3">
                                <label asp-for="MasterItemMenuDesc" class="col-sm-4 col-form-label"></label>
                                <div class="col-sm-8">
                                    <input asp-for="MasterItemMenuDesc" class="form-control" required />
                                    <span asp-validation-for="MasterItemMenuDesc" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row mb-3">
                                <label asp-for="MasterItemMenuPrice" class="col-sm-4 col-form-label"></label>
                                <div class="col-sm-8">
                                    <input asp-for="MasterItemMenuPrice" class="form-control" required />
                                    <span asp-validation-for="MasterItemMenuPrice" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row mb-3">
                                <label asp-for="MasterItemMenuDate" class="col-sm-4 col-form-label"></label>
                                <div class="col-sm-8">
                                    <input asp-for="MasterItemMenuDate" class="form-control" required />
                                    <span asp-validation-for="MasterItemMenuDate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row mb-3">
                                <label asp-for="MasterItemMenuDate" class="col-sm-4 col-form-label"></label>
                                <div class="col-sm-8">
                                    <select asp-for="MasterCategoryMenuId" class="form-control" asp-items="@(new SelectList(ViewBag.category,"MasterCategoryMenuId","MasterCategoryMenuName"))" required>
                                        <option value="">Select an item category</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row mb-3">
                                <label asp-for="File" class="col-sm-4 col-form-label"></label>
                                <div class="col-sm-8">
                                    <input asp-for="File" class="form-control" required />
                                    <span asp-validation-for="File" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-end">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        <a asp-action="MasterItemMenuIndex" class="btn btn-secondary">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


