@model Restaurant.ViewModels.MasterServicesModels

@{
    ViewData["Title"] = "MasterServicesEdit";
}

<div class="pagetitle">
    <h1>Edit Services</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item"><a asp-action="MasterServicesIndex" asp-controller="MasterServices">Index</a></li>
            <li class="breadcrumb-item active">Services Edit</li>
        </ol>
    </nav>
</div>


<hr />


<section class="section">
    <div class="row justify-content-center">
        <div class="card col-md-12">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <form asp-action="MasterServicesEdit" enctype="multipart/form-data" class="needs-validation" novalidate>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="MasterServicesId" class="form-control" type="hidden" />
                    <input asp-for="CreateUser" class="form-control" type="hidden" />
                    <input asp-for="CreateDate" class="form-control" type="hidden" />
                    <input asp-for="IsActive" class="form-control" type="hidden" />
                    <div class="row mb-3">
                        <div class="col-6">
                            <div class="row mb-3">
                                <label asp-for="MasterServicesTitle" class="col-sm-4 col-form-label"></label>
                                <div class="col-sm-8">
                                    <input asp-for="MasterServicesTitle" class="form-control" required />
                                    <span asp-validation-for="MasterServicesTitle" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row mb-3">
                                <label asp-for="MasterServicesDesc" class="col-sm-4 col-form-label"></label>
                                <div class="col-sm-8">
                                    <input asp-for="MasterServicesDesc" class="form-control" required />
                                    <span asp-validation-for="MasterServicesDesc" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row mb-3">
                                <label asp-for="MasterServicesImage" class="col-sm-4 col-form-label"></label>
                                <div class="col-sm-8">
                                    <input asp-for="MasterServicesImage" class="form-control" />
                                    <span asp-validation-for="MasterServicesImage" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-end">
                        <input type="submit" value="Save Changes" class="btn btn-primary" />
                        <a asp-action="MasterServicesIndex" class="btn btn-secondary">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

